<!DOCTYPE html>
<html>
<head>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <title>Juicebar</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
	<div id="header">
		<h1>Juice Bar</h1>
		<p>A personal tracker for the serious juicer</p>
		<nav>
	      <ul>
	        <li><a href="#">Home</a></li>
	        <li><a href="#">My Juices</a></li>
	        <li><a href="#">About</a></li>
	        <li><a href="#">Contact Us</a></li>
	      </ul>
	      <br clear="all">
	    </nav>
	</div>

	<div id="juice-picture">
		<img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcQkCE7fm6ytSJBvyWbFIR2AR4_dGS1d8fo-BAhTRrOmqcVi0rdG" alt="Juicer of choice">
	</div>


	<div id="secondary-content">
		<ul>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
		</ul>
	</div>

	<div class="footer">
	      Copyright &copy; 2013 Germain Boue, Inc.
	</div>
</div>

<%= yield %>

</body>
</html>
